@page
@model IndexModel
@{
    ViewData["Title"] = "Test User Input Page";
}

<form method="post">
    <div>
        <label for="UserInput1">User Input:</label>
        <input type="text" name="UserInput" />
        <input type="submit" value="Save" />
    </div>
</form>
